@import '../../../../theme/sass/conf/conf';

.ff-image {
  .ff-image-upload-container {
    border: 2px dotted #cdcdcd;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;

    .image {
      background-image: url($images-root + "theme/no-image.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      cursor: pointer;
      width: 100%;
      height: 100%;
    }

    .top {
      text-align: right;
      position: absolute;
      top: 0;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 6px;
      box-sizing: border-box;
      transform: translateY(-100%);
      transition: 0.1s linear;
      width: 100%;

      .btn {
        padding: 4px 5px 2px 5px;
        font-size: 10px;
      }
    }

    .bottom {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 6px;
      box-sizing: border-box;
      transform: translateY(100%);
      transition: 0.1s linear;
      width: 100%;
      text-align: center;
      cursor: pointer;
    }

    &:hover {
      .top, .bottom {
        transform: translateY(0);
      }
    }
  }

  &.has-error .ff-image-upload-container {
    border-color: #e85656;
  }

  &.has-success .ff-image-upload-container {
    border-color: #5cb85c;
  }
}