@import '../../theme/sass/conf/conf';

.datatable-container {
  position: relative;

  .loading-spinner {
    background-image: url($images-root + 'ring-spinner.svg');
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: rgb(236, 236, 236);
    text-align: right;
    padding: 13px 19px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #757575;
    transform: translateX(-50%) translateY(-50%);
    display: none;
    background-size: 32px;
  }

  .dataTables_paginate.paging_simple_numbers {
    display: inline-block;
    padding-left: 0;
    margin-top: 1rem;
    border-radius: 0.25rem;

    .paginate_button, span.ellipsis {
      position: relative;
      padding: 0.6rem 0.9rem;
      margin-left: -1px;
      color: #0275d8;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd;
      display: inline-block;
    }

    .paginate_button {
      cursor: pointer;
      color: #209e91;
      transition: 0.2s linear;

      &.current {
        background: #209e91;
        color: #fff;
      }

      &:hover:not(.disabled) {
        background: rgba(32, 158, 145, 0.80);
        color: #fff;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.7;
      }
    }
  }

  .dataTables_length {
    display: inline-block;
    margin-top: 1rem;
    padding-right: 5px;

    label {
      width: 100%;

      select {
        width: 80px;
        display: inline-block;
        vertical-align: middle;
        padding: 5px;
      }
    }
  }

  .dataTables_info {
    display: inline-block;
  }

  table.datatable {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;

    & > thead > tr {
      th {
        border: 1px solid #e9ebec;
        font-size: .875rem;
        margin: 0;
        padding: 0.5rem 1rem;
        color: #209e91;

        &:first-child { text-align: left; }

        &.controls-cell {
          white-space: nowrap;
          text-align: center;
          vertical-align: middle;
          cursor: default;
        }

        &.sorting {
          background: url($images-root + "sorting/sort_both.png") center right no-repeat;
        }

        &.sorting_asc {
          background: url($images-root + "sorting/sort_asc.png") center right no-repeat;
        }

        &.sorting_desc {
          background: url($images-root + "sorting/sort_desc.png") center right no-repeat;
        }
      }

      &.datatable-titles {
        th { cursor: pointer; }
      }

      &.datatable-filters {
        input, select {
          width: 100%;
          line-height: normal;
          padding: .375rem .75rem;
          font-weight: normal;
        }

        select.form-control:not([size]):not([multiple]) {
          height: 1.901rem;
        }

        input.flatpickr-input {
          color: #666666;
          border: 1px solid #cbcbcb;
        }
      }
    }

    & > tbody > tr {
      td {
        border: 1px solid #e9ebec;
        font-size: .875rem;
        padding: 0.4rem 1rem;
        line-height: 24px;

        &:first-child { text-align: left; }

        &.controls-cell {
          white-space: nowrap;
          text-align: center;
          vertical-align: middle;

          button:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
    }
  }
}