.pre-loader {
  background-color:rgba(0,0,0,0.4);
  width: 100%; height: 100%;
  position: fixed;
  z-index: 9999;
  display: none;
}

body {
  .pre-loader {
    background-color:rgba(0,0,0,0.4);
    width: 100%; height: 100%;
    position: absolute;
    z-index: 9999;
    left: 0; right: 0;
    top: 0; bottom: 0;
    display: none;

    span {
      display: block;
      width: 128px; height: 40px;
      background: url("../img/preloader.png");
      position: absolute;
      left: 50%; top: 50%;
      margin-top: -20px;
      margin-left: -64px;
    }
  }

  &>.pre-loader {
    position: fixed;
  }
}