@font-face {
  font-family: 'DINPro-Bold';
  src: url("../fonts/DINPro-Bold.eot");
  src: url("../fonts/DINPro-Bold.woff2") format("woff2"), url("../fonts/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro-Bold.ttf") format("truetype"), url("../fonts/DINPro-Bold.svg#DINPro-Bold") format("svg"), url("../fonts/DINPro-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'globus';
  src: url("../fonts/globus-webfont.woff2") format("woff2"), url("../fonts/globus-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 106, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 3, ../scss/mixins/_typography.scss */
body {
  color: #000000;
  font-family: "DINPro-Bold", sans-serif;
}
/* line 7, ../scss/mixins/_typography.scss */
body strong {
  font-family: "DINPro-Bold", sans-serif;
}
/* line 8, ../scss/mixins/_typography.scss */
body strong em {
  font-family: "DINPro-Bold", sans-serif;
}
/* line 10, ../scss/mixins/_typography.scss */
body em {
  font-family: "DINPro-Bold", sans-serif;
}
/* line 11, ../scss/mixins/_typography.scss */
body em strong {
  font-family: "DINPro-Bold", sans-serif;
}
/* line 13, ../scss/mixins/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "DINPro-Bold", sans-serif;
  font-weight: 500;
  color: inherit;
}
/* line 19, ../scss/mixins/_typography.scss */
body h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}
/* line 20, ../scss/mixins/_typography.scss */
body h2 {
  font-size: 1.625em;
  line-height: 1.84615em;
}
/* line 21, ../scss/mixins/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 2em;
}
/* line 22, ../scss/mixins/_typography.scss */
body h4 {
  font-size: 1.125em;
  line-height: 1.33333em;
}
/* line 23, ../scss/mixins/_typography.scss */
body h5 {
  font-size: 1em;
  line-height: 1.5em;
}
/* line 24, ../scss/mixins/_typography.scss */
body h6 {
  font-size: 0.75em;
  line-height: 2em;
}
/* line 26, ../scss/mixins/_typography.scss */
body a {
  color: #000;
  text-decoration: none;
}
/* line 18, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
body a:visited {
  color: #000;
}
/* line 21, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
body a:focus {
  color: #000;
}
/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #000;
}
/* line 27, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #000;
}
/* line 4, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_hover-link.scss */
body a:hover, body a:focus {
  text-decoration: underline;
}
/* line 30, ../scss/mixins/_typography.scss */
body a:hover, body a:focus {
  text-decoration: none;
}
/* line 35, ../scss/mixins/_typography.scss */
body button, body label {
  cursor: pointer;
}

/* line 1, ../scss/modules/_preloader.scss */
.pre-loader {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  display: none;
}

/* line 10, ../scss/modules/_preloader.scss */
body .pre-loader {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
/* line 19, ../scss/modules/_preloader.scss */
body .pre-loader span {
  display: block;
  width: 128px;
  height: 40px;
  background: url("../img/preloader.png");
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -64px;
}
/* line 30, ../scss/modules/_preloader.scss */
body > .pre-loader {
  position: fixed;
}

/* line 10, ../scss/license.scss */
body {
  background: #fff;
}

/* line 14, ../scss/license.scss */
.license {
  background-image: url('../img/licenseModalBg.png?1512209771');
  width: 69.0625rem;
  height: 49.3125rem;
  background-repeat: no-repeat;
  background-position: top center;
  height: 52.5rem;
  background-size: 69.0625rem 49.3125rem;
}
/* line 21, ../scss/license.scss */
.license .image {
  width: 14.625rem;
  height: 14.5625rem;
  top: 14.8125rem;
  position: absolute;
  left: 10.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0085cd;
}
/* line 33, ../scss/license.scss */
.license .date {
  position: absolute;
  left: 29.125rem;
  top: 33.9375rem;
  font-size: 1.5625rem;
  color: #caf0f8;
}
/* line 41, ../scss/license.scss */
.license .data {
  position: absolute;
  width: 21.25rem;
  height: 1.875rem;
  background: transparent;
  border: none;
  font-size: 1.8125rem;
  text-transform: uppercase;
  color: #e3faff;
}
/* line 51, ../scss/license.scss */
.license .data.first-name {
  top: 14.625rem;
  left: 40.6875rem;
}
/* line 56, ../scss/license.scss */
.license .data.last-name {
  top: 16.875rem;
  left: 40.6875rem;
}
/* line 61, ../scss/license.scss */
.license .data.patronymic {
  top: 19.0625rem;
  left: 40.6875rem;
}
/* line 66, ../scss/license.scss */
.license .data.age {
  top: 23.1875rem;
  left: 40.6875rem;
}
